<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150604958305-auern1abgudepljcrbvt1ku8je3n49gm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150604958305-auern1abgudepljcrbvt1ku8je3n49gm</string>
	<key>API_KEY</key>
	<string>AIzaSyDZgWpdvNfTCQkqiTgDkx1wMgmc6CcdMiU</string>
	<key>GCM_SENDER_ID</key>
	<string>150604958305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>erdemtas.Wisdom-Recipe-Pro</string>
	<key>PROJECT_ID</key>
	<string>wisdom-recipe-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>wisdom-recipe-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150604958305:ios:0f5ab29e553233cce77820</string>
</dict>
</plist>